.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba($color-primary, 0.95);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &.btn-light {
    color: rgba($color-primary, 0.95);
    background-color: #ebedef;
    border: 1px solid #ebedef;
    &:hover {
      color: rgba($color-primary, 0.95);
      background-color: #c8c9cb;
      border-color: #bcbebf;
    }
  }
  &.btn-outline-success {
    color: $color-success;
    border: 1px solid $color-success;
    &:hover {
      color: #fff;
      background-color: $color-success;
      border-color: $color-success;
    }
    &:active {
      background-color: lighten($color-success, 10%);
      border-color: lighten($color-success, 10%);
    }
  }
}
