footer {
    background-color: #343434;
    color: white;
    display: flex;
    @media screen and (max-width: 992px) {
        flex-direction: column;
    }
    h3 {
        padding: 0 15px;
    }
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
    }
    a {
        color: white;
        margin: 20px;
        &:hover {
            color: $tertiary-color;
        }
        @media screen and (max-width: 992px) {
            margin: 5px;
        }
        i {
            padding: 0 5px 0 0;
        }
    }
}