$color-primary: #5b643c;
$color-dark: #2a2b36;
$color-success: #198754;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}
main {
  margin-left: 16rem;
  transition: margin 0.15s;
  min-height: 85vh;
  padding: 0.5rem;
  background: rgb(235, 237, 239);
  transition: background 0.35s, color 0.35s, margin-left 0.15s;
  .dark & {
    background: #181924;
    color: white;
  }
  .hideSB & {
    margin-left: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    margin-left: 0rem;
  }
}

.hidden {
  display: none;
}
